name: Sync Dev to Main

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  sync-main:
    if: github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'dev'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git checkout main
          git reset --hard origin/dev
          git push origin main --force-with-lease
